.weather-card {
  width: 100%;
  min-height: 8rem;
  margin: 1rem 0;
  padding: 0.2rem 0.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);

  backdrop-filter: blur(25px) saturate(200%);
  -webkit-backdrop-filter: blur(25px) saturate(200%);
  background-color: rgba(17, 25, 40, 0.68);
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 10px;

  .day-time {
    line-height: 1.3;
    .day {
      font-weight: 400;
    }
    .time {
      font-weight: 300;
    }
    .main-weather {
      font-weight: 400;
      font-size: 1.7rem;
    }
  }
  .icon-container {
    display: flex;
    align-content: center;
    justify-content: center;
    img {
      width: 100px;
      filter: drop-shadow(0px 0px 10px #eee);
    }
  }
  .current-temp {
    text-align: right;
    font-size: 2rem;
    font-weight: 400;
    .celsius {
      font-size: 0.5em;
      color: var(--text-color);
    }
  }
  .min-max-temp {
    display: flex;
    gap: 0.5rem;
  }
}
