.header {
  width: 100%;
  background-color: #ecececa4;
  padding-top: 1rem 0;
  padding-bottom: 3rem;
  background: linear-gradient(
    to bottom,
    black 0%,
    black 10%,
    rgba(10, 10, 10, 0.787) 35%,
    rgba(10, 10, 10, 0.05) 95%,
    rgba(10, 10, 10, 0) 99%
  );
  .title {
    text-transform: capitalize;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 1rem;
    color: #fefefe;
    font-family: "Pacifico", cursive;
    font-size: 3rem;
  }
  .flex {
    display: flex;
    width: 100%;
    gap: 0.6rem;
  }
  .btn {
    padding: 0.7rem 1rem;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    color: #333;
    letter-spacing: 1px;
    font-family: inherit;
    &:hover,
    &:focus {
      transition: 0.2s all ease-in-out;
      cursor: pointer;
      color: var(--text-color);
      background-color: #333;
    }
  }
  .search-bar {
    background-color: #ffffffcc;
    padding: 0.7rem 1rem;
    display: flex;
    border: none;
    width: 100%;
    border-radius: 10px;
    position: relative;
    &:focus-within {
      filter: drop-shadow(0 0 5px #eee);
    }
    .search-input {
      width: 100%;
      height: 100%;
      background-color: transparent;
      font-size: 1.5rem;
      border: none;
      width: 100%;
      &:focus {
        outline: none;
      }
    }
    .icon {
      font-size: 1.7rem;
      color: #555;
    }
  }
}
