@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.header {
  width: 100%;
  background-color: #ecececa4;
  padding-top: 1rem 0;
  padding-bottom: 3rem;

  background: linear-gradient(
    to bottom,
    black 0%,
    black 10%,
    rgba(10, 10, 10, 0.787) 35%,
    rgba(10, 10, 10, 0.05) 95%,
    rgba(10, 10, 10, 0) 99%
  );

  .title {
    text-transform: capitalize;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 1rem;
    color: #fefefe;
    font-family: "Pacifico", cursive;
    font-size: 3rem;
  }
  .search-bar {
    background-color: white;
    padding: 0.7rem 1rem;
    display: flex;
    border: none;
    width: 100%;
    border-radius: 10px;
    &:focus {
      box-shadow: 0 0 0 10px #eee;
    }

    .search-input {
      font-size: 1.5rem;
      border: none;
      width: 100%;
      &:focus {
        outline: none;
      }
    }
    .icon {
      font-size: 1.7rem;
      color: #555;
    }
  }
}
